<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nuit de l'info 2024{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.png') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/bubble.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/text.css') }}">
        <script src="{{ asset('js/jquery-3.7.1.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block navbar %}
                {% include 'navbar.html.twig' %}
            {% endblock %}
        </header>
        <main>
            {% block body %}
                {% block body2 %}{% endblock %}
                <div id="chatbot" class="row flex-column align-items-center">
                    <div id="chatbot-img">
                        <img src="{{ asset('img/attendre.gif') }}">
                    </div>
                    <div class="d-flex align-items-center">
                        <h2 class="margin-none">Assistant chat</h2>
                        <div id="chatbot-status" class="label-red">Non connecté</div>
                    </div>
                    <div id="chatbot-msg">

                    </div>
                    <div id="chatbot-inputs" class="d-flex align-items-center">
                        <textarea placeholder="Entrez votre question" disabled></textarea>
                        <input type="submit" value="" alt="Envoyer" onclick="envoyerPromptChatbot()" disabled>
                    </div>
                </div>
                <div id="chatbot-visibility-btn" onclick="derouler()">
                    <input type="checkbox" alt="Dérouler le chatbot" disabled>
                    <label>
                        <img src="{{ asset('img/icons/chevron_icon.svg') }}" alt="Image déroulement chatbot">
                    </label>
                </div>
            {% endblock %}
        </main>
        <footer>
            {% block footer %}

            {% endblock %}
        </footer>
    </body>
    {% block javascripts %}
        <script src="{{ asset('js/chatbox.js') }}"></script>
    {% endblock %}
</html>
