

{% extends 'base.html.twig' %}

{% block titre %}Page d'accueil — Nuit de l'info 2024{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="containerAbove">
        <div id="aboveTheOcean">
            <canvas id="canvas">

            </canvas>
            <div id="title">
                <img id="title" src="{{ asset('img/logo.png') }}" alt="Logo">
            </div>
        </div>
        <div id="wrapper"></div>
    </div>

    <div id="containerText">
        <h3>L'océan, un merveilleux être vivant, comme nous !</h3>
        <ul>
            <li>
                <h2>Les veines des mers</h2>
                <p>Que ce soit l'eau des montagnes s'écoulant dans les rivières jusqu'à la mer, des courants maritimes, chaud, et froids, un système logique et magnifique a lieu.
                Les animaux marins en profitent, se déplaçant beaucoup plus rapidement que ce qu'ils peuvent faire normalement.
                Ces courants sont telles les veines du corps humain.
                Elles circulent le long d'un circuit, pour revenir à son point de départ.</p>
                <img src="{{ asset('img/bg/veine.png') }}">
            </li>
            <li>
                <h2>On inspire, et on expire</h2>
                <p>Tout comme l'être humain qui respire et expire, nos océans en font de même.
                Les volcans sous-marins rejettent le surplus de gaz, que l'on appelle "la désoxygénation des océans".
                    Cela permet donc à la terre de respirer et expirer, pour vivre et nous donner ce dont nous avons besoin.</p>
                <img src="{{ asset('img/bg/poumon.png') }}">
            </li>
            <li>
                <h2>Le système nerveux des océans</h2>
                <p>Notre cerveau est un appareil extrêmement complexe, qui fonctionne avec un système nerveux des plus admirables.
                Les récifs coralliens sont semblables. Effectivement, étant souvent appelés "forêts sous-marines", elles fonctionnent comme un réseau interconnecté, qui les relie
                tel un corps vivant, et échangeant entre elles.</p>
                <img src="{{ asset('img/bg/corail.png') }}">
            </li>
            <li>
                <h2>L’océan, un système digestif naturel</h2>
                <p>Le système digestif décompose les aliments pour extraire les nutriments nécessaires à l’énergie et au fonctionnement du corps,
                    tout en éliminant les déchets. Dans l’océan, les bactéries,
                    les phytoplanctons et autres organismes décomposent la matière organique (ex. débris végétaux ou animaux) et recyclent les nutriments.
                    Ces éléments sont redistribués pour nourrir la vie marine, jouant un rôle vital dans la chaîne alimentaire,
                    comme le système digestif le fait pour le corps humain.</p>
                <img src="{{ asset('img/bg/plancton.png') }}">
            </li>
            <li>
                <h2>L’océan, régulateur climatique naturel</h2>
                <p>Le système endocrinien humain produit des hormones qui régulent divers processus corporels,
                    comme la croissance et le métabolisme. De manière similaire, l’océan émet des composés organiques volatils (COV),
                    tels que le diméthylsulfure (DMS), qui influencent les cycles climatiques et biologiques. Ces émissions,
                    bien que produites en petites quantités, ont un impact majeur sur la formation des nuages,
                    le climat global et la productivité des écosystèmes marins,
                    tout comme les hormones influencent de nombreux processus dans le corps humain.</p>
                <img src="{{ asset('img/bg/cycle.png') }}">
            </li>
            <li>
                <h2>Les courants marins : Transporteurs de vie et de pollution</h2>
                <p>
                    Le système lymphatique, dans le corps humain,
                    transporte les déchets métaboliques et joue un rôle essentiel dans la défense immunitaire grâce à ses ganglions lymphatiques qui filtrent les toxines.
                    Dans l'océan, les courants marins et les marées remplissent un rôle similaire en déplaçant les nutriments et les déchets.
                    Cependant, ces mouvements accumulent aussi des polluants dans des zones comme les gyres océaniques,
                    créant des "plaques de déchets" qui perturbent les écosystèmes, tout comme un système lymphatique surchargé peut entraîner des déséquilibres dans le corps.
                </p>
                <img src="{{ asset('img/bg/courant.png') }}">
            </li>
        </ul>
        <article>
            <p>Nos océans sont de merveilleux écosystèmes, et c'est à nous d'en prendre soins.
                Venez rejoindre notre cause, aidez-nous à nettoyer nos mers !</p>
            <a href="/jeu">Nettoyons !</a>
        </article>
        <article>
            <p>Resolve un petit quiz :</p>
            <a href="/">Quiz !</a>
        </article>


    </div>


    <div id="belowTheOcean" class="justify-content-center flex-column">
        <div id="bubble-container">
            {{ include('fishTemplate.html.twig') }}
        </div>
        <div id="groot"></div>
    </div>
    <script src="{{ asset('js/water.js') }}"></script>
    <script src="{{ asset('js/background.js') }}"></script>
    <script src="{{ asset('js/bubble.js') }}"></script>
{% endblock %}
